<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>BBQ Buddy uses your contact photo for your profile picture.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
